.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/matrix.jpg');
  background-size: cover;
  color: #ffffff;
  height: 700px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: white;
}
.portrait {
  width:  350px;
  height: 300px;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: white;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}
.languagephotos{
  height: 220px;
}
body {
  background-color: #000000;
  height: 100%;
  width: 100%;
}
nav{
  background-color: #4c7730;
  height: 100px;
}
table
{
  width: 100%;
  align-content: center;
  text-align: center;
}
tr{
  background-color: #000000;
  height: 100px;
}

td{
  background-color: #005f00;
  padding: 0px;
}
td:hover{
  background-color: #4c6630;
  padding: 0px;
}
a:hover{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
}
td > a{
  font-size: 48px;
  color: black;
}
div {
  align-content: center;
}
div > a {
  color: ForestGreen;
  font-size: 24px;
}
p{
  color: ForestGreen;
  font-size: 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}
h5, h2{
  color: ForestGreen;
}
li{
  color: ForestGreen;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: ForestGreen;
}
